<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=title%></title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <!-- global styles -->
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/suteng.css?v=<%=version%>">
        <script src="/js/qrcode.min.js"></script>
        <script src="<%=cdnJsPath%>/zepto.min.js"></script>
        <script src="/js/jquery-latest.js"></script>
        <script src="/js/sti-common.min.js?v=<%=version%>"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
        <script src="/js/bootstrap/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
        <script src="/js/template-native.js?v=<%=version%>"></script>
        <style type="text/css">
            .changpswbox{
                margin: 0 40px;
                padding: 40px 0;
            } 
        </style>
        <!-- bootstrap -->
    </head>
    <body id="accounts" name="account">
        <!-- alert -->
        <%include alert%>

        <!-- sidebar -->
        <%include sidebar%>

        <!-- main container -->
        <div class="content">
            <div class="menu">
                <!-- <a href="javascript:;" class="trademarks"><span class="icon trademarksbg"></span><span class="title">修改账号名</span></a> -->
                <a href="javascript:;" class="globalbotad"><span class="icon globalbotadbg"></span><span class="title">底部广告设置</span></a> 
                <a href="javascript:;" class="globalsharead"><span class="icon globalbotadbg"></span><span class="title">分享广告语设置</span></a> 
                <a href="javascript:;" class="set changeNickname"><span class="icon changeNicknamebg"></span><span class="title">修改账号名</span></a>
                <a href="javascript:;" class="changepsw"><span class="icon changepswbg"></span><span class="title">修改密码</span></a>
                <a href="javascript:;" class="setinfo"><span class="icon setinfobg"></span><span class="title">编辑全景菜单主键</span></a>
                <a href="javascript:;" class="delete-password"><span class="icon delete-passwordbg"></span><span class="title">房源删除密码</span></a>
            </div>
        </div>

        <script type="text/html" id="template-changepassword">
            <div class="changpswbox">
                <div class="horizontal marginb10">
                    <div class="hcenter vcenter f14 ">旧密码:</div>
                    <div class="input-wrap flex1"><input type="password" class="input-oldpassword" value=""></div>
                </div>
                <div class="horizontal marginb10">
                    <div class="hcenter vcenter f14 ">新密码:</div>
                    <div class="input-wrap flex1"><input type="password" class="input-newpassword"></div>
                </div>
                <div class="horizontal">
                    <div class="hcenter vcenter f14 ">重复新密码:</div>
                    <div class="input-wrap flex1"><input type="password" class="input-newpassword-repeat"></div>
                </div>
            </div>
        </script>
        <%if(Date.parse(user.expiredate)>=Date.now()){%>


        <%
            var ad=advertisement?advertisement.split('</div>'):[''];
            var ad1,ad2,ad3;
            if( ad.length>0){
                ad1= ad[0].split('<div>').length>1 ? (ad[0].split('<div>'))[1] : ad[0];
            }
            if( ad.length>1){
                ad2= ad[1].split('<div>').length>1 ? (ad[1].split('<div>'))[1] : ad[1];
            }
            if( ad.length>2){
                ad3= ad[2].split('<div>').length>1 ? (ad[2].split('<div>'))[1] : ad[2];
            }
        %>
        <script type="text/html" id="template-globalad">
            <div class="changpswbox">
                <div class="horizontal marginb10">
                    <div class="hcenter vcenter f14 ">联系人:</div>
                    <div class="input-wrap flex1"><input class="input-ad-1" placeholder="联系人" value="<%=ad1%>"></div>
                </div>
                <div class="horizontal marginb10">
                    <div class="hcenter vcenter f14 ">电话:</div>
                    <div class="input-wrap flex1"><input class="input-ad-2" placeholder="电话" value="<%=ad2%>"></div>
                </div>
                <div class="horizontal">
                    <div class="hcenter vcenter f14 ">其他:</div>
                    <div class="input-wrap flex1"><input class="input-ad-3" placeholder="其他" value="<%=ad3%>"></div>
                </div>
            </div>
        </script>


        <script id="template-setnickname" type="text/html">
            <div class="horizontal" style="padding-top:40px;width:60%;margin:0 auto;">
                <div class="hcenter vcenter f14 ">新昵称:</div>
                <div class="input-wrap flex1"><input class="input-nickname" value="<%=user.nickname%>"></div>
            </div>
        </script>


        <script type="text/html" id="template-setinfo">

            <div class="changpswbox">
                <div class="horizontal marginb10">
                    <div class="hcenter vcenter f14 ">公司名称：</div>
                    <div class="input-wrap flex1"><input class="input-name" placeholder="公司名称" value="<%=user.company%>"></div>
                </div>
                <div class="horizontal">
                    <div class="hcenter vcenter f14 ">公司网址：</div>
                    <div class="input-wrap flex1"><input class="input-website" placeholder="公司网址" value="<%=user.itcwebsite%>"></div>
                </div>
            </div>

        </script>

        <script type="text/html" id="template-setinfo2">
            <div class="bg-gray">

                <div class="box-flex public-box">
                    <div class="horizontal" style="width: 100%;">
                        <div class="hcenter vcenter f14 ">企业名称：</div>
                        <div class="input-wrap flex1"><input type="text" class="ltcname" value="<%=user.telephone%>"></div>
                    </div>
                </div>

                <div class="public clearfix">

                    <div class="box-flex public-box">
                        <div class="horizontal">
                            <div class="hcenter vcenter f14 ">企业地区：</div>
                            <div class="input-wrap flex1"><input type="text" class="Itcregion" value="<%=user.itcregion%>"></div>
                        </div>
                    </div>
                    <div class="box-flex public-box">
                        <div class="horizontal">
                            <div class="hcenter vcenter f14 ">联系电话：</div>
                            <div class="input-wrap flex1"><input type="text" class="Itcphone" value="<%=user.telephone%>"></div>
                        </div>
                    </div>

                    <div class="public clearfix">
                        <div class="box-flex public-box">
                            <div class="horizontal">
                                <div class="hcenter vcenter f14 ">企业邮箱：</div>
                                <div class="input-wrap flex1"><input type="text" class="Itcmail" value="<%=user.itcmail%>"></div>
                            </div>
                        </div>
                        <div class="box-flex public-box">
                            <div class="horizontal">
                                <div class="hcenter vcenter f14 ">联系网址：</div>
                                <div class="input-wrap flex1"><input type="text" class="Itcwebsite" value="<%=user.itcwebsite%>"></div>
                            </div>
                        </div>
                    </div>

                    <div class="public clearfix">
                        <div class="box-flex public-box">
                            <div class="horizontal">
                                <div class="hcenter vcenter f14 ">企业法人：</div>
                                <div class="input-wrap flex1"><input type="text" class="Itcmaster" value="<%=user.itcmaster%>"></div>
                            </div>
                        </div>

                        <div class="box-flex public-box">
                            <div class="horizontal">
                                <div class="hcenter vcenter f14 ">法人电话：</div>
                                <div class="input-wrap flex1"><input type="text" class="Itcmstertel" value="<%=user.itcmstertel%>"></div>
                            </div>
                        </div>
                    </div>

                    <div class="public clearfix">
                        <div class="box-flex public-box">
                            <div class="horizontal">
                                <div class="hcenter vcenter f14 ">企业联系人：</div>
                                <div class="input-wrap flex1"><input type="text" class="Itccontacts" value="<%=user.itccontacts%>"></div>
                            </div>
                        </div>
                        <div class="box-flex public-box">
                            <div class="horizontal">
                                <div class="hcenter vcenter f14 ">联系人电话：</div>
                                <div class="input-wrap flex1"><input type="text" class="Itccontactstel" value="<%=user.itccontactstel%>"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <%}%>
        <script>
        $(function(){
            function changePassword() {
                $('.alert-wrap').css('visibility','visible');
                initAlert('',{
                    title:"修改密码",
                    content:template('template-changepassword'),
                    buttons:[
                    {
                        text:'取消'
                    },{
                        text:'确定',
                        className:'btn-confirm',
                        color:'red',
                        callBack:changePswcall
                        }
                    ]
                });
            }

            function changePswcall(){
                var old = $('.input-oldpassword').val();
                var n1 = $('.input-newpassword').val();
                var n2 = $('.input-newpassword-repeat').val();
                if(n1!=n2){
                    alert('密码不符合要求');
                    return;
                }else if(n1.length<3){
                    alert('密码不符合要求');
                    return;
                }
                $.post('/settings/change_password',{old_password:hex_sha1(old+'letian'),new_password:hex_sha1(n1+'letian')},function(r){
                    if(r.code!=0){
                        alert(r.msg);
                        return;
                    }
                    $('.alert-wrap').css('visibility','hidden');
                    $('.alert-td').html(template('hidden-html'));
                });
            };

            function deletePassword() {
                $('.alert-wrap').css('visibility','visible');
                initAlert('',{
                    title:"修改删除密码",
                    content:template('template-changepassword'),
                    buttons:[
                    {
                        text:'取消'
                    },{
                        text:'确定',
                        className:'btn-confirm',
                        color:'red',
                        callBack:deletePswcall
                        }
                    ]
                });
            }
            function deletePswcall(){
                var old = $('.input-oldpassword').val();
                var n1 = $('.input-newpassword').val();
                var n2 = $('.input-newpassword-repeat').val();
                if(n1!=n2){
                    alert('两次密码输入不一致');
                    return;
                }
                if(n1.length<3){
                    alert('密码不符合要求');
                    return;
                }
                if(old==''||old==null){
                    alert('密码不能为空');
                    return;
                }
                $.ajax({
                    url:'/settings/deletepsw',
                    type:'post',
                    data:{
                        old_password:old,
                        new_password:n1,
                        re_password:n2
                    },
                    success:function(res){
                        alert(res.msg);
                        if(res.code==0){
                            location.reload();
                        }
                    }
                });
                
            };
            $('.changepsw').on('click',changePassword);
            <%if(Date.parse(user.expiredate)>=Date.now()){%>
            var MAX_HEIGHT = 300;
            var upflag=0;
            function changeNickname(){
                $('.alert-wrap').css('visibility','visible');
                    initAlert('',{
                        title:'修改昵称',
                        // content:template('template-setnickname'),
                        content:"<div class='middle'>请联系管理员进行修改</div>",
                        buttons:[
                        {
                            text:'确定',
                            color:'red',
                            callBack:function(){
                                $(".alert-wrap").css('visibility','hidden');
                                // var nickname=$('.input-nickname').val();
                                // if (!nickname) {
                                //     alert("昵称不错为空");
                                //     return;
                                // };
                                // $.post('/settings/change_nickname',{nickname:$('.input-nickname').val()},function(r){
                                //     if(r.code!=0){
                                //         alert(r.msg);
                                //         return;
                                //     }
                                //     location.reload();  
                                // });
                            }
                        }]
                    });
            }
            function delHtmlTag(str){
                return str.replace(/<[^>]+>/g,"");
            }

            function setShareAd(){
                $('.alert-wrap').css('visibility','visible');
                initAlert('',{
                    title:'设置分享广告',
                    content:'<input style="margin-top:40px;" class="input-prefix" placeholder="例如：Ipano，拍照新趋势（20个字以内）,换行请使用/n" value="<%=itccontacts%>">',
                    buttons:[
                    {
                        text:'取消'
                    },{
                        text:'确定',
                        className:'btn-title-confirm',
                        color:'red',
                        callBack:function(){
                            $.ajax({
                                url:'/settings/global_sharead',
                                type:'POST',
                                async:false,
                                data:{
                                    sharead:delHtmlTag($('.input-prefix').val())
                                },
                                timeout:1000,
                                success:function(result){
                                    if(result.code!=0){
                                        alert(result.msg);
                                    }
                                    window.location.reload();
                                },
                                error:function(e){
                                    alert(e);
                                }
                            })
                        }
                        }
                    ]
                });
                $('.input-prefix').focus();
            }
            
            function setTrademark(){
                <%if(!permission_trademark){%>
                $('.alert-wrap').css('visibility','visible');
                    initAlert('',{
                        title:'设置顶部商标',
                        content:'<div class="middle">抱歉，你没有此权限，请联系我们销售经理</div>',
                        buttons:[
                        {
                            text:'确定',
                            color:'red',
                            className:'btn-trademark-finish',
                            callBack:function(){
                                setTimeout(function(){$('.alert-wrap').css('visibility','hidden');},100);
                            }
                        }]
                    });
                <%}else{%>
                    location.href='/trademarks';
                <%}%>
            }

            function setAd(){
                $('.alert-wrap').css('visibility','visible');
                initAlert('',{
                    title:'设置底部广告',
                    content:template('template-globalad'),
                    buttons:[
                    {
                        text:'取消'
                    },{
                        text:'确定',
                        className:'btn-confirm',
                        color:'red',
                        callBack:function(){
                            $.ajax({
                                url:'/settings/global_advertisement',
                                type:'POST',
                                async:false,
                                data:{
                                    advertisement:'<div>'+$('.input-ad-1').val()+'</div>'+
                                    '<div>'+$('.input-ad-2').val()+'</div>'+
                                    '<div>'+$('.input-ad-3').val()+'</div>'
                                },
                                timeout:1000,
                                success:function(res){
                                    alert(res.msg);
                                    location.reload();
                                }
                            })
                        }
                        }
                    ]
                });
            }

            function setinfo(){
                $('.alert-wrap').css('visibility','visible');
                <%if(user.permission_logo==0){%>
                    initAlert('', {
                        title:"提示",
                        content:"<div class='middle'>您没有该权限</div>",
                        buttons:[
                        {
                            text:'取消'
                        }]
                    });
                    return;
                <%}else{%>
                initAlert('',{
                    title:"编辑全景菜单主键",
                    content:template('template-setinfo'),
                    buttons:[
                    {
                        text:'取消'
                    },{
                        text:'确定',
                        className:'btn-confirm',
                        color:'red',
                        callBack:function(){
                            $.ajax({
                                url:'/settings/setinfo',
                                type:'POST',
                                async:false,
                                data:{
                                    itcname:$('.input-name').val(),
                                    itcphone:$('.input-phone').val(),
                                    itcwebsite:$('.input-website').val()
                                },
                                success:function(res){
                                    alert(res.msg);
                                    location.reload();
                                }
                            })
                        }
                        }
                    ]
                });
                <%}%>
            }


            


            function setglobeltramark(e){
                $.ajax({
                    type:'GET',
                    url:'/trademarks?type=json',
                    success:function(r){
                        $('.alert-wrap').css('visibility','visible');
                        console.log(r.trademark);
                        if(!r.trademark){                    
                            initAlert('',{
                                title:'上传全局商标图',
                                content:'<div class="middle">你目前没上传商标图</div><div class="toptip" style="font-size:12px;">请上传正方形图片</div><div id="preview" style="display:none;" class="upshow middle"><canvas id="myCanvas"></canvas></div><input type="file" id="input-file" style="display:none">',
                                buttons:[
                                {
                                    text:'取消'
                                },{
                                    text:'选择文件上传',
                                    color:'red',
                                    callBack:upload
                                }
                                ]
                            });
                            $("#input-file").on('change',onchangerender);
                        }else{   
                            var cutflag=0;      
                            var hasup=0;  
                            var data; 
                            initAlert('',{
                                title:'商标图',
                                content:'<div id="preview" class="upshow middle"><canvas id="myCanvas"></canvas></div>',
                                // '<img class="map-img" height="100%" src="'+r.trademark+'">',
                                buttons:[
                                {
                                    text:'取消'
                                },{
                                    text:'裁切',
                                    color:'red',
                                    callBack:function(){
                                        if(cutflag){
                                            render(r.trademark);
                                        }else{
                                            render(r.trademark,1);
                                        }
                                        cutflag = !cutflag;
                                    }
                                },{
                                    text:'删除',
                                    color:'red',
                                    callBack:function(){
                                        if(confirm('确定要删除吗？')){
                                            $.ajax({
                                                    type:'POST',
                                                    url:'/trademarks/delete',
                                                    async:false,
                                                    data:{
                                                        type:"global"
                                                    },
                                                    success:function(res){
                                                        if(res.code==0){
                                                            setTimeout(function(){$('.alert-wrap').css('visibility','hidden');},100);
                                                        }else{
                                                            alert(res.msg);
                                                        }
                                                    }
                                            });
                                        }
                                    }
                                }]
                            });
                            render(r.trademark, upflag);
                        }
                    }
                });
            }

            function onchangerender(){

                var src = getObjectUrl(document.getElementById("input-file").files[0]), cutflag=0;
                render(src);
                $('.middle').hide();
                $('.toptip').hide();
                $('.preview').show();
                
                if($('.alertbox .buttons').html().indexOf('保存')==-1){
                    // console.log($('.alertbox .buttons').html().indexOf('保存'));
                    $('.alertbox .buttons').append('<div class="buttons clearfix"><button class="btn red flex1 btn-cut">裁切</button><button class="btn red flex1 btn-up">保存</button></div>');
                    $('.btn-cut').on('click',function(){
                        if(cutflag){
                            render(src);
                        }else{
                            render(src,1);
                        }
                        cutflag = !cutflag;
                    });
                    $('.btn-up').on('click',function(){
                        var data = document.getElementById("myCanvas").toDataURL('image/png').replace("data:image/png;base64,", "");
                        upnewtop(data);
                    });
                }
            }

            function render(src, flag){

                var image = new Image();
                image.crossOrigin = "*";

                image.onload = function(){

                    var canvas = document.getElementById("myCanvas");
                    var ctx = canvas.getContext("2d");
                    canvas.height = image.height;
                    canvas.width = image.width;
                    var margintop = (300-(image.height*(450/image.width)))/2;
                    margintop=image.height*(450/image.width)>300?0:margintop;
                    $(canvas).css({'margin-top':margintop})


                    ctx.clearRect(0, 0, canvas.width, canvas.height);

                    if (flag) {

                        canvas.height = 300;
                        canvas.width = 300;
                        $(canvas).css({'margin-top':0})

                        var pattern = ctx.createPattern(image, "no-repeat");
                        if (image.height < image.width) {
                            ctx.translate(0, 0);
                            ctx.scale(MAX_HEIGHT/image.height,MAX_HEIGHT/image.height);
                            ctx.arc(image.height/2, image.height/2, Math.min(image.width, image.height) / 2, 0, 2 * Math.PI);
                        }else{
                            ctx.translate(0, 0);
                            ctx.scale(MAX_HEIGHT/image.width,MAX_HEIGHT/image.width);
                            ctx.arc(image.width/2, image.width/2, Math.min(image.width, image.height) / 2, 0, 2 * Math.PI);
                        };
                        ctx.fillStyle = pattern;
                        ctx.fill();  

                    }else{

                        if(image.height > image.width) {
                            // image.height *= MAX_HEIGHT / image.width;
                            // image.width = MAX_HEIGHT;
                            ctx.drawImage(image, 0, 0, image.width, image.height);
                        }else{
                            // image.width *= MAX_HEIGHT / image.height;
                            // image.height = MAX_HEIGHT;
                            ctx.drawImage(image, 0, 0, image.width, image.height);
                        }
                    }

                    $(".upshow").show();
                    $(".tramarkbox").hide();
                    if(flag){
                        var data = document.getElementById("myCanvas").toDataURL('image/png').replace("data:image/png;base64,", "");
                        if(confirm('已裁切成圆形，是否重新上传?')){
                            upnewtop(data);
                        };
                    }
                };

                image.src = src;
            };

            function upnewtop(data){
                if(hasup){
                    return;
                }
                hasup=1;
                $.post('/upload/trademark/token',{
                    type:'global'
                },function(res){
                    var token = res.token;
                    var key = res.imgurl;
                    Q.addEvent("progress", function(p, s) {
                        update((p==100?99:p)+'%', s);
                    });
                    Q.addEvent("putFinished", function(fsize, res, taking) {
                        uploadSpeed = 1024 * fsize / (taking * 1000);
                        if (uploadSpeed > 1024) {
                            formatSpeed = (uploadSpeed / 1024).toFixed(2) + "Mb\/s";
                        } else {
                            formatSpeed = uploadSpeed.toFixed(2) + "Kb\/s";
                        };
                        var res = {
                            key: res.key,
                            hash: res.hash,
                            speed: formatSpeed
                        };
                        update('上传成功');
                        location.reload();
                    });
                    Q.SetToken(token);
                    Q.Upload_base64(data, key);
                });
            };


            function getObjectUrl(file){
                var url = undefined;
                if (window.createObjectURL) {
                    url = createObjectURL(file);
                }else if(window.URL){
                    url = URL.createObjectURL(file);
                }else if(window.webkitURL){
                    url = webkitURL.createObjectURL(file);
                }
                return url;
            }
            
            function up(groupkey){
                if(document.getElementById('input-file').files.length==0){
                    return;
                }
                if(hasup){
                    return;
                }
                hasup=1;
                $.post('/upload/maptoken',{groupkey:groupkey},function(res){
                    var token = res.token;
                    var key = res.key;
                    Q.addEvent("progress", function(p, s) {
                        update((p==100?99:p)+'%', s);
                    });
                    //上传完成回调
                    //fsize:文件大小(MB)
                    //res:上传返回结果，默认为{hash:<hash>,key:<key>}
                    Q.addEvent("putFinished", function(fsize, res, taking) {
                        uploadSpeed = 1024 * fsize / (taking * 1000);
                        if (uploadSpeed > 1024) {
                            formatSpeed = (uploadSpeed / 1024).toFixed(2) + "Mb\/s";
                        } else {
                            formatSpeed = uploadSpeed.toFixed(2) + "Kb\/s";
                        };
                        var res = {
                            key: res.key,
                            hash: res.hash,
                            speed: formatSpeed
                        };
                        update('上传成功');
                        hasup=0;
                        setTimeout(function(){$('.alert-wrap').css('visibility','hidden');},100);
                    });
                    Q.SetToken(token);
                    Q.Upload(document.getElementById('input-file').files[0], key);
                });
            };
            $('.globalbotad').on('click',setAd);
            $('.trademarks').on('click',setglobeltramark);
            // $('.btn-changenickname').on('click',changeNickname);
            $('.changeNickname').on('click',changeNickname);
            $('.setinfo').on('click',setinfo);
            // $('.changepsw').on('click',changePassword);
            $('.delete-password').on('click',deletePassword);
            $('.globalsharead').on('click', setShareAd);
            <%}else{%>
                function callexpire(){
                    $('.alert-wrap').css('visibility','visible');
                    initAlert('',{
                        title:'提示',
                        content:'<div class="middle">该功能为商业版功能，开通请联系销售经理</div>',
                        buttons:[
                        {
                            text:'取消'
                        }
                        ]
                    });
                } 
                function namecallexpire(){
                    $('.alert-wrap').css('visibility','visible');
                    initAlert('',{
                        title:'提示',
                        content:'<div class="middle">更改账号名，请联系销售经理</div>',
                        buttons:[
                        {
                            text:'取消'
                        }
                        ]
                    });
                } 
            $('.globalbotad').on('click',callexpire);
            $('.trademarks').on('click',callexpire);
            // $('.btn-changenickname').on('click',changeNickname);
            $('.changeNickname').on('click',namecallexpire);
            $('.setinfo').on('click',callexpire);
            // $('.changepsw').on('click',changePassword);
            $('.delete-password').on('click',deletePassword);
            $('.globalsharead').on('click',callexpire);
            <%}%>

            // $('.btn-changepassword').on('click',changePassword);
            // $('.btn-ad').on('click',setAd);
            // $('.btn-trademark').on('click',setTrademark);
        });
        </script>
    </body>
</html>
