<!DOCTYPE html>
<html lang="en">
	<head>
		<title>STi 速腾聚创 授权页面</title>
		<meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/common.css?v=<%=version%>">
		<style>
            input{
                border: none;
                -webkit-box-flex: 1;
                font-size: 13px;
                color: #545454;
                height: 35px;
                border-bottom: 1px solid #e3e3e3;
                width: 100%;
            }
            .icon.logo{
                width:138px;
                height:62px;
            }
		</style>
	</head>
	<body>
    <script src="<%=cdnJsPath%>/zepto.min.js?v=<%=libVersion%>"></script>
    <script src="../js/sti-common.min.js?<%=version%>"></script>
    <%include alert%>
    <div>
        <div class="vertical vcenter" style="padding-top:30px;">
            <div class="icon logo"></div>
            <div class="">您还未登录，请先登录</div>
        </div>
            <table class="w100 borderbox" style="padding:15px">
                <tbody>
                <tr>
                    <td>
                        <div class="icon telephone2"></div>
                    </td>
                    <td style="width:10000px;padding-left:10px;">
                        <input id="username" name="username" style="margin-bottom:5px;" placeholder="请输入账号">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="icon password"></div>
                    </td>
                    <td style="padding-left:10px;">
                        <input id="password" type="password" name="password" placeholder="请输入密码">
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="buttons">
                <button class="btn red flex1 btn-login">登陆</div>
            </div>
        <div class="horizontal padding10 hend" style="margin-top:30px">
            <a class="btn tiny grayborder transparent hcenter vcenter marginright10 borderbox" href="http://www.sz-sti.com">官方网站</a>
            <a class="btn tiny grayborder transparent hcenter vcenter borderbox" href="/downloads" >APP下载</a>
        </div>
    </div>
    <script>
    $(function(){
        $('.btn-login').click(function(){
            $.post('/api/authorize/api_login?redirect_uri=<%=redirect_uri%>',{username:$('#username').val(),password:hex_sha1($('#password').val()+"letian")},function(result){
                if(result.code==0){
                    location.reload();
                }else{
                    alert(result.msg);
                }
            });
        });
        $('body').on('touchmove',function(e){
            e.preventDefault();
        });
    });
    </script>
    </body>
</html>
