<!DOCTYPE html>
<html lang="en">
	<head>
    <title><%=title%></title>
		<meta charset="utf-8">
        <meta name="robots" content="noarchive">
        <meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/common.css?v=<%=version%>">
	</head>
	<body ondrag="return false">
    <script src="<%=cdnJsPath%>/zepto.min.js?v=<%=libVersion%>"></script>
    <script src="/js/sti-common.min.js?<%=version%>"></script>
    <script src="/js/qnuploader.js"></script>
    <%include alert%>
    <div class="vertical h100">
        <%include header%>
        <input type="file" id="input-file" style="display:none">
        <div class="flex1 overflow">
            <div class="buttons margintop10">
                <button class="btn bloodred flex1 btn-up borderbox" <%if(platform=='android-app'){%>style="display:none"<%}%>>上传顶部商标</button>
            </div>
            <%if(trademark.length==0){%>
            <div class="margin10" style="font-size:12px;">
                为了体验良好建议上传圆形商标
            </div>
            <div class="margin10">
                您目前没有上传顶部商标
            </div>
            <%}else{%>
            <img style="width:100%;height:100%" src="<%=trademark%>">
            <%}%>
            <div class="buttons margintop10">
                <button class="btn bloodred flex1 btn-trademark-delete" <%if(!trademark.length){%>style="display:none;"<%}%>>删除</button>
                <%if(type!='global'){%>
                <button class="btn gray flex1" onClick="location.href='/romaing/list?groupkey=<%=groupkey%>&platform=<%=platform%>';">返回</button>
                <%}else{%>
                <button class="btn gray flex1" onClick="location.href='/settings'">返回</button>
                <%}%>
            </div>
        </div>
    </div>
    <script>
    $(function(){
            $('.btn-up').click(function(){
                $('#input-file').click();
            });
            $('.btn-trademark-delete').click(function(){
                deleteTrademark();
                });
        function deleteTrademark(){
            //if(confirm('确定要删除吗？')){
            if(1){
            $.ajax({
                    type:'POST',
                    url:'/trademarks/delete',
                    async:false,
                    data:{
                        <%if(type=='global'){%>
                        type:'global',
                        <%}else{%>
                        type:'',
                        groupkey:'<%=groupkey%>'
                        <%}%>
                    },
                    success:function(res){
                        if(res.code==0){
                            location.reload();
                        }else{
                            alert(res.msg);
                        }
                    }
            });
            }
        }


        $('#input-file').on('change',up);
        var hasup=0;
        function update(a,b){
            $('.btn-up').text(a+' '+(b?b:''));
        }
        function up(){
            if(document.getElementById('input-file').files.length==0){
                alert("请选择文件");
                return;
            }
            if(hasup){
                return;
            }
            hasup=1;
            $.post('/upload/trademark/token',{
                <%if(type=='global'){%>
                type:'global',
                <%}else{%>
                type:'',
                groupkey:'<%=groupkey%>'
                <%}%>
            },function(res){
                var token = res.token;
                var key = res.imgurl;
                Q.addEvent("progress", function(p, s) {
                    update((p==100?99:p)+'%', s);
                });
                //上传完成回调
                //fsize:文件大小(MB)
                //res:上传返回结果，默认为{hash:<hash>,key:<key>}
                Q.addEvent("putFinished", function(fsize, res, taking) {
                    uploadSpeed = 1024 * fsize / (taking * 1000);
                    if (uploadSpeed > 1024) {
                        formatSpeed = (uploadSpeed / 1024).toFixed(2) + "Mb\/s";
                    } else {
                        formatSpeed = uploadSpeed.toFixed(2) + "Kb\/s";
                    };
                    var res = {
                        key: res.key,
                        hash: res.hash,
                        speed: formatSpeed
                    };
                    update('上传成功');
                    location.reload();
                });
                Q.SetToken(token);
                Q.Upload(document.getElementById('input-file').files[0], key);
            });
        };

    });
    </script>
    </body>
</html>
