<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>深圳速腾聚创科技有限公司</title>
    <link rel="stylesheet" href="/index/css/m_common.css" type="text/css"> 
    <style type="text/css">
        #wrapper{
            width: 100%;
        }
        #wrapper .banner{
            width: 100%;
        }
        #wrapper .banner img{
            display: block;
            width: 100%;
        }
        #wrapper .banner h2{
            width: 5.5rem;
            font-size: 0.24rem;
            color: #333;
            line-height: 0.5rem;
            text-align: center;
            margin: 1rem auto;
        }
        #bottommenu a{
            width: 25%;
        }
    </style>
</head>
<body>
    <%include m_nav%>
    <%include loading%>
    <div id="wrapper">
        <div class="banner">
            <img src="http://qncdn.sz-sti.com/algorithm.jpg" />
            <h2><%=lang=='cn' ? 'RS-LiDAR感知算法已经面向普罗米修斯内部合作活动开放测试中' : 'RS-LiDAR perception algorithms are open for testing among members of Prometheus Project.'%></h2>
        </div>

        <div id="bottommenu">
            <a class="fl" href="/mobile/rslidar/<%=lang%>" v-text="datas.platform.threeMenu.rslidar"></a>
            <a class="fl" href="/mobile/rslidar/platform/<%=lang%>" v-text="datas.platform.threeMenu.platform"></a>
            <a class="fl active" href="/mobile/rslidar/algorithm/<%=lang%>" v-text="datas.platform.threeMenu.algorithm"></a>
            <a class="fl" href="/mobile/rslidar/promethus/<%=lang%>" v-text="datas.platform.threeMenu.prometheus"></a>
        </div>
    </div>

    <script type="text/javascript">
        var wrapper = new Vue({
            el: '#wrapper',
            data: {
                datas: <%-include("mobile_lang_"+lang, {lang: lang})%>
            }
        })
    </script>
</body>
</html>