<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>深圳RoboPano科技有限公司</title>
    <link rel="stylesheet" href="/index/css/m_common.css" type="text/css"> 
    <link rel="stylesheet" href="/index/css/m_platform.css" type="text/css"> 
    <link rel="stylesheet" href="/index/css/swiper-3.4.1.min.css" type="text/css">
    <script src="/index/js/swiper-3.4.1.min.js"></script>
    <%if(lang=='en'){%>
        <style type="text/css">
            #wrapper .section_2 .desc{
                text-align: left;
            }
            #wrapper .section_3 .desclists .desc{
                text-align: left;
            }
            #wrapper .section_4 .swiper-button-prev{
                left: 0.05rem !important;
            }
            #wrapper .section_4 .swiper-button-next{
                right: 0.05rem !important;
            }
            #wrapper .section_3 .btn-group a{
                width: 2.5rem;
            }
            #wrapper .section_5 .robosense {
                position: absolute;
                right: 0;
                top: 8.5rem;
                width: 2.5rem;
            }
        </style>
    <%}%>
    <style type="text/css">
        #bottommenu a{
            width: 25%;
        }
    </style>
</head>
<body>
    <%include m_nav%>
    <%include loading%>
    <div id="wrapper">
        <div class="section_1"></div>
        <div class="section_2">
            <h2 class="title">
                <img src="http://qncdn.sz-sti.com/mobile/platform/section_2.png?v=1" />
            </h2>
            <h4 v-text="datas.platform.section_2.h4"></h4>
            <p class="desc">
                <span v-text="datas.platform.section_2.p"></span>
            </p>
        </div>
        <div class="section_3">
            <h4 class="title" v-text="datas.platform.section_3.h4"></h4>
            <p class="desc">
                <span v-text="datas.platform.section_3.p"></span>
            </p>
            <div class="gifpic">
                <img src="http://qncdn.sz-sti.com/mobile/platform/section_3_1.png" />
                <p v-text="datas.platform.section_3.p1" class="title_p"></p>
                <span v-text="datas.platform.section_3.p2" class="title_span"></span>
            </div>
            <div class="gifpic">
                <img src="http://qncdn.sz-sti.com/mobile/platform/section_3_2.png" />
                <p v-text="datas.platform.section_3.p3" class="title_p"></p>
                <span v-text="datas.platform.section_3.p4" class="title_span"></span>
            </div>
            <div class="btn-group">
                <a href="javascript:;" v-text="datas.platform.section_3.a1" @click.stop="smoothScroll"></a>
                <!-- <a href="javascript:;" v-text="datas.platform.section_3.a2"></a> -->
            </div>
        </div>
        <div class="section_4">
            <h4 class="title" v-text="datas.platform.section_4.h4"></h4>
            <p class="desc">
                <span v-text="datas.platform.section_4.p"></span>
            </p>
            <img src="http://qncdn.sz-sti.com/mobile/platform/section_4.png" />
        </div>
        <div class="section_5" id="smoothScroll">
            <h4 class="title" v-text="datas.platform.section_5.h4"></h4>
            <img class="gifpic" src="/index/images/rslidar/xiaoguo.gif">
            <p class="desc" v-text="datas.platform.section_5.p"></p>
            <ul class="parameterlist">
                <li v-for="list in datas.platform.section_5.tabledata"><span v-text="list[0]"></span><span v-text="list[1]"></span></li>
            </ul>
            <p class="robosense"><img src="http://qncdn.sz-sti.com/mobile/platform/section_5.png" /></p>
            <!-- <a class="downloadbtn" href="/mobile/resource/<%=lang%>" v-text="datas.platform.downloadbtn"></a> -->
        </div>
        <div id="bottommenu">
            <a class="fl" href="/mobile/rslidar/<%=lang%>" v-text="datas.platform.threeMenu.rslidar"></a>
            <a class="fl active" href="/mobile/rslidar/platform/<%=lang%>" v-text="datas.platform.threeMenu.platform"></a>
            <a class="fl" href="/mobile/rslidar/algorithm/<%=lang%>" v-text="datas.platform.threeMenu.algorithm"></a>
            <a class="fl" href="/mobile/rslidar/promethus/<%=lang%>" v-text="datas.platform.threeMenu.prometheus"></a>
        </div>
    </div>
    
    <script src="/index/js/smooth-scroll.min.js"></script>
    <script type="text/javascript">
        var wrapper = new Vue({
            el: '#wrapper',
            data: {
                datas: <%-include("mobile_lang_"+lang, {lang: lang})%>
            },
            methods: {
                smoothScroll: function(){
                    $.smoothScroll({
                        scrollTarget: '#smoothScroll',
                        speed: 1200
                    });
                }
            }
        })
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: 5000,  //自动滑动
            pagination: '.swiper-pagination',  //分页
            loop: true,  //循环
            effect: 'flip', //切换效果
            prevButton:'.swiper-button-prev',
            nextButton:'.swiper-button-next'
        })
    </script>
</body>
</html>