<!DOCTYPE html>
<html>
    <head>
        <title id="title">正在加载...</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/> 
        <link type="image/x-icon" rel="/favicon.ico" rel="icon"/>
        <style>#sidebar{position:absolute;left:-100%;top:50px;width:70%;max-width:240px;height:70%;padding-bottom:10px;z-index:99999;border-radius:0 5px 5px 0;background-color:#fff;filter:alpha(opacity=50);background-color:rgba(255,255,255,.5);text-align:center;font-family:'黑体';color:#000;overflow:hidden}#sidebar .logo{margin:5px 0}#sidebar .swiper-container h3.address{padding:5px 15px 0 15px;font-weight:500;line-height:30px;text-align:left;font-size:16px;position:relative;color:#000}#sidebar .swiper-container .abstractInfo{margin:0 15px 0 15px;border-top:1px solid #000;border-bottom:1px solid #000;text-align:left;line-height:25px;height:350px;overflow:hidden;position:relative;color:#000}#sidebar .likeVisit{text-align:right;padding:20px 15px 0 15px;margin-top:10px}#sidebar .likeVisit a{display:inline-block;margin:0 2px;text-align:center;text-decoration:none;color:#df0024;font-weight:600}.tabs{width:100%;padding-top:5px;background-color:#000;background-color:rgba(0,0,0,.25);filter:alpha(opacity=25)}.tabs a{display:block;float:left;width:100%;text-decoration:none;color:#000;display:block;transition:color .4s;-webkit-transition:color .4s;-ms-transition:color .4s;position:relative}.tabs a img{width:30px}@media screen and (max-width:640px){.tabs a img{width:20px!important}#sidebar .likeVisit{padding:20px 15px 0 15px;margin-top:0!important}.sharecode{width:120px!important;margin-left:-60px!important;margin-top:-60px!important}}.tabs a p{padding-top:3px;padding-bottom:3px;position:relative}.tabs a.active{color:#e62129;border-bottom:2px solid #e62129}.sharecode{width:160px;position:absolute;left:50%;top:50%;margin-left:-80px;margin-top:-95px}.sharecode img{display:block;width:100%}.sharecode a.goback{display:block;text-decoration:none;color:#000;padding:5px 10px;margin-top:5px}.abstractInfo .swiper-container{height:100%;overflow:auto;/*width: 108%*/}.slide-inner{color:#000}.swiper-scrollbar{background:0 0;position:absolute;right:0;top:0;height:100%;width:5px}.swiper-scrollbar .swiper-scrollbar-drag{background:rgba(255,255,255,.3)}.swiper-scrollbar{border-radius:10px;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px}.swiper-scrollbar-cursor-drag{cursor:move}#sidebar .likeVisit a.share{float:left}.swiper-slide{width:100%;background:0 0;color:#fff}.swiper-container{margin:0 auto;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-wrapper{position:relative;width:100%;-webkit-transition-property:-webkit-transform,left,top;-webkit-transition-duration:0s;-webkit-transform:translate3d(0,0,0);-webkit-transition-timing-function:ease;-ms-transition-property:-ms-transform,left,top;-ms-transition-duration:0s;-ms-transform:translate3d(0,0,0);-ms-transition-timing-function:ease;transition-property:transform,left,top;transition-duration:0s;transform:translate3d(0,0,0);transition-timing-function:ease;-webkit-box-sizing:border-box;box-sizing:border-box}.swiper-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{float:left;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}@-ms-viewport{width:device-width}*{margin:0;padding:0}@media only screen and (min-device-width:800px){html{overflow:hidden}}html{height:100%}body{height:100%;overflow:hidden;margin:0;padding:0;font-size:14px;color:#FFF;background-color:#000}#ipano{width:100%;height:100%}body{-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none}@media screen and (max-width:640px){#logo{width:100px!important;height:100px!important;line-height:125px!important}#header{margin-top:20px!important}span.wrap{margin-top:10px!important}}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}#logo{width:150px;margin:15px auto;height:150px;border:1px solid #444;line-height:175px;cursor:pointer;overflow:hidden}#logo img{width:90%;margin-left:5%;max-height:100%}span.wrap{margin:30px auto 0 auto;display:block;width:90%;color:#828387}#header{display:block;height:150px;margin-top:60px}*{margin:0;padding:0}.abstractInfo .swiper-scroll{width:100%;height:100%;overflow:hidden}.abstractInfo .swiper-slide{height:auto;-webkit-box-sizing:border-box;box-sizing:border-box}@media screen and (max-width:640px){#panoramabox{top:0!important;left:0!important;height:100%!important;width:100%!important}#sidebar{top:25px!important}}.abstractInfo .swiper-container .swiper-wrapper{height:100%!important}#qrcode{position:absolute;width:80px;height:80px;padding:5px;opacity:0;transition:opacity .4s;-webkit-transition:opacity .4s;-ms-transition:opacity .4s;background-color:rgba(255,255,255,.5);bottom:<%if(isMultipro||groups[0].scenes[0].jzmode!=0) {%>200px<%}else{%>170px<%}%>;right:20px}#ipano_wraper{width:100%;height:100%;position:relative}.showcomments{position:absolute;z-index:99999;max-width:600px;max-height:1000px;background:rgba(255,255,255,1);box-shadow:0 0 10px rgba(0,0,0,.5)!important;left:50%;top:50%;transform:translate(-50%,-50%);padding:10px;color:#000;cursor:pointer;text-align:center;display:none;overflow: hidden;}.showcomments .imgname{text-align:center;line-height:30px}.showcomments .hotimg{/*width:100%;display:block;margin:0 auto*/}.showcomments .imgdes{margin-top:10px;max-height:300px;overflow-y:auto}.showcomments .imgdes a{color:#000;text-decoration:none}#personalHome{position:absolute;width:100%;height:100%;background-color:#000;filter:alpha(opacity=90);background-color:rgba(0,0,0,.5);z-index:99999;top:0;left:0;font-family:'黑体';display:none}#personalHome .closehome{position:absolute;right:30px;top:30px;filter:alpha(opacity=100);cursor:pointer}#personalHome .wrapper{width:60%;height:85%;border-radius:6px;-webkit-border-radius:6px;-ms-border-radius:6px;background-color:#fff;filter:alpha(opacity=100);background-color:rgba(255,255,255,1);margin:0 auto;position:relative;top:7.5%;overflow-y:auto}#personalHome .userHeader .avatar{margin:90px auto 15px auto;width:100px;height:100px;filter:alpha(opacity=100);background:#fff;overflow:hidden;border-radius:50%;-webkit-border-radius:50%;-ms-border-radius:50%;cursor:pointer;position:relative}#personalHome .userHeader .avatar img{display:block;height:100%}#personalHome .userHeader .username{text-align:center;color:#333;padding-bottom:20px;font-size:24px}#personalHome .userHeader .telephone{text-align:center;padding-bottom:15px}#personalHome .userHeader .telephone span{display:inline-block;position:relative;bottom:8px;padding-left:10px;font-size:18px;color:#333}#personalHome .listWrap{padding:20px 60px 0 60px}#personalHome .listWrap .title{color:#333;font-weight:400;margin-bottom:20px}#personalHome .listWrap .title img{padding-right:10px}#personalHome .listWrap .title span{position:relative;bottom:6px}#personalHome a.scenebox{display:none;width:31%;float:left;margin-bottom:20px;color:#fff;overflow:hidden;padding:1%;box-sizing:border-box;margin-bottom:20px;background:#fff;border-radius:6px}#personalHome a.scenebox:nth-child(3n-1){margin:0 3.5%}#personalHome a.scenebox:hover{text-decoration:none}#personalHome .scenebox .thumbpic{width:100%;max-height:180px;position:relative;background:#999;overflow:hidden;border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px}#personalHome .scenebox .thumbpic img.picurl{display:block;width:100%}#personalHome .scenebox .thumbpic .address{padding:5px 0;position:absolute;text-align:center;/*line-height:40px;*/bottom:0;left:0;width:100%;/*height:40px;*/background:rgba(51,51,51,.8);overflow:hidden;text-overflow:ellipsis;white-space:nowrap}#personalHome .scenebox .thumbpic .visited{position:absolute;top:10px;right:10px}#personalHome .scenebox .thumbpic .visited span{padding-left:5px;position:relative;bottom:2px}#personalHome .checkmore{display:block;color:#e72420;text-align:center;padding:5px 0 20px 0;cursor:pointer}#personalHome .noscene{font-size:30px;font-weight:400;text-align:center;color:#666;padding-top:40px}#lists_1,#lists_2{width:95%;list-style:none;position:absolute}#lists_1 li a,#lists_2 li a{display:block;height:30px;line-height:30px;color:#000;text-decoration:none;border-bottom:1px solid #191919;padding:8px 0}#lists_1 li a#server_go{background:url(/images/arrow_go.png) no-repeat 95% 16px}#lists_2 li a#server_back{background:url(/images/arrow_back.png) no-repeat 0 16px}#lists_1{transition:left .4s ease;-webkit-transition:left .4s ease;-ms-transition:left .4s ease;visibility:visible}#lists_2{left:100%;transition:left .4s ease;-webkit-transition:left .4s ease;-ms-transition:left .4s ease;visibility:hidden}body{-webkit-tap-highlight-color: rgba(0,0,0,0);}
            @media screen and (max-width: 640px) {.showcomments{width: 100%;height: 100%;}}
            #imgContainer {width: 100%;height: 100%;position: absolute;top :0;left:0;background: black;z-index: 99999;}
            #imgContainer .imgname{
                text-align: center;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                height: 30px;
                line-height: 30px;
                background: rgba(255,255,255,0.3);
            }
            #imgContainer .imgdes{
                text-align: center;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                line-height: 30px;
                background: rgba(255,255,255,0.3);
                
            }

        </style>
    </head>

    <body>
        <%if(groups[0].scenes[0].type<5){%><div id="loading" style="display:block;"></div><%}%>
        <%if(telephone&&platform.indexOf('pc')===-1){%>
        <a id="callphoneBtn" href="tel:<%=telephone.replace('转',',')%>" style="position:absolute;width:33px;height:33px;background:rgba(0,0,0,0);right:8px;top:33px;z-index:9999;outline:none;-moz-outline-style:none;"></a>
        <%}%>
        <div id="ipano_wraper">
            <div id="ipano"></div>
            
            <%if(platform.indexOf('pc')!=-1){%>
            <div class="showcomments">
                <h4 class="imgname"></h4>
                <img class="hotimg" /> 
                <p class="imgdes"></p>
            </div>
            
            <%}else{%>
                <div id="imgContainer" style="display:none;">
                    <h4 class="imgname"></h4>
                    <!-- <img id="imageFullScreen" /> -->
                    <p class="imgdes"></p>
                </div>   
            <%}%>    
        </div>
            
        <%if(platform.indexOf('pc')!=-1){%>
        <%}else{%>
        <%}%>
        <%if(platform.indexOf('pc')!=-1){%>
        <div id="personalHome">
            <div class="wrapper">
                <span class="closehome"><img width="40" data-src="/images/closehome.png" /></span>
                <div class="userHeader">
                    <%=user.id%>
                    <h2 class="avatar"><img data-src="<%=user.logo?user.logo:'http://qncdn.sz-sti.com/images/tools/botimg.png'%>" /></h2>
                    <%var realname = JSON.parse(user.realname)%>
                    <p class="username"><%=realname.content1?(realname.content1+'-'+realname.content2):user.name%></p>
                    <%if(telephone){%>
                    <p class="telephone"><img class="iconTel" data-src="/images/iconTel.png" /><span><%=telephone%></span></p>
                    <%}%>
                </div>
                <div class="listWrap clearfix">
                    <h4 class="title"><img width="28" data-src="/images/recommend.png" /><span>推荐房源</span></h4>
                    <%if(lists.length>0){%>
                    <div class="scenelist">
                        <%for(var i in lists){%>
                        <a href="/scene?groupkey=<%=lists[i].key%>" target="_blank" class="scenebox clearfix">
                            <div class="thumbpic">
                                <img class="picurl" data-src="<%=lists[i].thumbsrc%>" />
                                <p class="address">
                                    <%=lists[i].city.replace('市','').replace('市','').replace('区','').replace('区','')+'-' + lists[i].region.replace('市','').replace('市','').replace('区','').replace('区','')+'-'+ lists[i].community%><br/>
                                    <%=["零", "一", "二", "三", "四", "五", "六", "七", "八", "九",'十'][lists[i].apartment_rooms]+'房'+ ["零", "一", "二", "三", "四", "五", "六", "七", "八", "九",'十'][lists[i].apartment_halls]+'厅'+' '+lists[i].area+'㎡'+' '+lists[i].price%>
                                </p>
                                <p><%=lists[i].apartment_halls%></p>
                                <p class="visited"><img style="border-style:none;" data-src="/images/scenevisited.png" /><span><%=lists[i].visited%></span></p>
                            </div>
                        </a>
                        <%}%>
                    </div>
                    <%}else{%>
                    <div>
                        <h4 class="noscene">暂时没有推荐房源</h4>
                    </div>
                    <%}%>
                </div>
                <%if(lists.length>5){%>
                <a class="checkmore">更多房源...</a>
                <%}%>
            </div>
        </div>
        <!--qrcode -->
        <div id="qrcode" style="display:none;"></div>
        <%}%>

        <div class="wrap" id="sidebar">
            <!-- <div class="logo"><img width="40" src="<%=logo%>?imageMogr2/thumbnail/!100p"></div> -->
            <div class="tabs clearfix">
                <a href="javascript:;" hidefocus="true" class="abstract active"><img style="border-style:none;" src="/images/abstract.png" /><p>简介</p><img class="slide-icon" style="position: absolute;width: 15px;right: 8px;top: 17px;" src="/images/slide-icon.png"></a>
                <!-- <%if(user.permission_support=='0'){%>
                <a href="javascript:;" hidefocus="true" class="support"><img style="border-style:none;z-index:99999;" src="/images/support.png" /><p>技术支持</p></a>
                <%}%> -->
            </div>    
            <div class="swiper-container swiper-wrappers">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slidebox">
                        <h3 class="address"><%=address%></h3>
                        <div class="abstractInfo">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="slide-inner">
                                            <%if(extra!='{}'){%>
                                                <p><%-groups[0].extra.replace(/(\n)+|(\r\n)+/g, "")%></p>
                                            <%}else{%>
                                                <p>还没有填写简介</p>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
 
                        </div>
                    </div>
                    <!-- <%if(user.permission_support=='0'){%>
                    <div class="swiper-slide slidebox">
                        <div class="content-slide">
                            <ul id="lists_1">
                                <li><a href="#" id="server_go">技术支持</a></li>
                                <li><a href="/management/article?id=2">使用条款</a></li>
                                <li><a href="/management/article?id=1">隐私条款</a></li>
                            </ul>
                            <ul id="lists_2">
                                <li><a href="#" id="server_back">技术支持</a></li>
                                <li><a href="http://www.robosense.cn/web/panorama/cn">设备ipano</a></li>
                                <li><a href="http://www.robosense.cn/web/cooperation/cn">合作加盟</a></li>
                            </ul>
                        </div>
                    </div>
                    <%}%> -->
                </div>
            </div>
            <div class="likeVisit">
                <a class="addliked" href="javascript:;">
                    <img width="20" style="border-style:none;" src="/images/liked.png" />
                    <p><%=liked%></p>
                </a>
                <a href="javascript:;">
                    <img width="20" style="border-style:none;" src="/images/visited.png" />
                    <p><%=groups[0].visited%></p>
                </a>
            </div>
        </div>

        <audio style='display:none' id='audio' preload="preload" autoplay='autoplay' ></audio>
    </body>

    
    <script type="text/javascript" src="/js/ipano.js"></script>

    <script type="text/javascript">
        var xml_init = {
            _xml:"/scene/panoxml?<%=scenekey?'key='+scenekey:'prokey='+prokey%>&width=<%=width%>&preview=<%=preview%>&v=20&cover=<%=cover%>"
        };
        createiPano(xml_init);
        krpano = document.getElementById('stipano');

        var tabsidebar,showcomments,openHome,speech,krpano,sortid = '<%=scenekey%>'.substr(0, 6),fristflag=1,backtext;
        function function_name(tel) {
            a.src
            a.click
        }
        function checkMobile(){
            if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) 
            || /Android/i.test(navigator.userAgent) 
            || /BlackBerry/i.test(navigator.userAgent) 
            || /IEMobile/i.test(navigator.userAgent) 
            || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){
                if(/iPad/i.test(navigator.userAgent)){
                    return 2;//平板
                }else{
                    return 1;//手机
                }
            }else{
                return 0;
            }
        } 
        function tabsidebarinit(type){
            if(tabsidebar)
                tabsidebar(type);
        }
        function showcommentsinit(type,imgname,imgdes){
            if(showcomments)
                showcomments(type,imgname,imgdes);
        }
        function speechinit(text, i){
            if(speech)
                speech(text, i);
        }
        function openHomeinit(type){
            checkMobile()?location.href="/scene/lists/"+<%=user.id%>:$('#personalHome').show();
        }
        function setCookie(name, value){
            var Days = 30;
            var exp = new Date();
            exp.setTime(exp.getTime() + Days*24*60*60*1000);
            document.cookie = "<%=scenekey?scenekey:prokey%>_"+name+"="+ escape (value) + ";expires=" + exp.toGMTString();
        }
        function getCookie(name){
            var arr,reg=new RegExp("(^| )<%=scenekey?scenekey:prokey%>_"+name+"=([^;]*)(;|$)");
            if(arr=document.cookie.match(reg))
                return unescape(arr[2]);
            else
                return null;
        }
        function like(){
            if(!getCookie('liked_'+sortid)){
                $.post('/scene/like/<%=scenekey%>', {}, function(res){
                    if(res.code!=0){
                        alert(res.msg);
                        return;
                    }
                    setCookie('liked_'+sortid, 1);
                });
            }
        }
        function hideloading(){
            $("#loading").hide();
        }
        function speech(text, i){
            console.log(111)
            i = i?i:'';
            var time = parseInt(text.length/4.5)+4;
            var loading_time = parseInt(text.length*0.003);
            $.get('/scene/baiduapi/vilidatetoken', function(res){
                var data = JSON.parse(res)
                var access_token = data.access_token;
                if (fristflag) {
                    backtext = text;
                    setTimeout(function(){
                        // var src = 'http://tts.baidu.com/text2audio?lan=zh&ie=UTF-8&text=' + text;
                        var src = 'https://tsn.baidu.com/text2audio?tex=' + text + '&ie=UTF-8&lan=zh&cuid=***&ctp=1&tok=' + access_token;
                        $('#audio').attr('src', src);
                    },2500-loading_time);
                    fristflag--;
                    i?closebroadcast(time, i):closebroadcast(time);
                }else{
                    if(backtext!=text){
                        backtext = text;
                        var src = 'https://tsn.baidu.com/text2audio?tex=' + text + '&ie=UTF-8&lan=zh&cuid=***&ctp=1&tok=' + access_token;
                        $('#audio').attr('src', src);
                        i?closebroadcast(time, i):closebroadcast(time);
                    }else{
                        if ($('#audio')[0].paused) {
                            $('#audio')[0].play();
                        }else{
                            $('#audio')[0].pause();
                        }
                    }
                }
            })
        }
        function closebroadcast(time, i){
            var jsstring = i?
                'copy(layer[open_house_broadcast'+i+'].crop,layer[open_house_broadcast'+i+'].crop_closed);set(layer[open_house_broadcast'+i+'].state, "paused");':
                'copy(layer[toggle_broadcast].crop,layer[toggle_broadcast].crop_closed);set(layer[toggle_broadcast].state, "paused");';
            if(krpano)
                setTimeout(function(){
                    krpano.call(jsstring);
                }, time*1000);
        }
        function settitle(){
            var $body = $('body');
            document.title = '<%=user.id==0?sharetitle:title%>';
            var $iframe = $('<iframe style="display:none;" src="/favicon.ico"></iframe>').on('load', function() {
              setTimeout(function() {
                $iframe.off('load').remove()
              }, 0)
            }).appendTo($body)
        }


        // try{
        var trim_Version = navigator.appVersion?(navigator.appVersion.split(";")[1]?navigator.appVersion.split(";")[1].replace(/[ ]/g,""):''):''; 
        // }catch(err){
        //     trim_Version = ''; 
        // }
        var isIE8 = navigator.appName == "Microsoft Internet Explorer" && (trim_Version == "MSIE6.0" || trim_Version == "MSIE7.0" || trim_Version == "MSIE8.0");

        function loadJs(src, fun){

            var script = document.createElement("script");
            script.src = src;
            var s = document.getElementsByTagName("script")[0];

            if(isIE8){
                script.onreadystatechange = function(){
                    var r = script.readyState; 
                    if (r === 'loaded' || r === 'complete') { 
                        // script.onreadystatechange = null; 
                        fun(); 
                    }
                }
            }else{
                script.onload = function(){
                    fun();
                }
            }
            s.parentNode.insertBefore(script, s);
        };

        (function() {

            loadJs("/js/jquery-1.8.3.min.js", function(){

                setTimeout(function(){
                    $("#loading").hide();
                    // document.getElementById('loading').style.display = "none";
                }, 4000);
                

                var ssssss = JSON.parse(JSON.stringify('<%-lists%>'))
                for(var i in ssssss){
                    console.log(ssssss[i])
                }
                //个人主页交互
                var size = $('#personalHome .scenelist a').size();
                var limit = 6;
                $('#personalHome .closehome').on('click',function(){
                    $('#personalHome').hide();
                    $('#personalHome .userHeader').show();
                })
                $('#personalHome .checkmore').on('click',function(){
                    checkmore();
                })
                for(var i = 0;i<limit;i++){
                    $('#personalHome .scenelist a').eq(i).css('display','block');
                }
                function checkmore(){
                    limit = size;
                    for(var i = 0;i<limit;i++){
                        $('#personalHome .scenelist a').eq(i).css('display','block');
                    }
                    if(limit>=size){
                        $('#personalHome .checkmore').hide();
                    }
                }
                $('.showcomments').on('click',function(){
                    $(this).slideToggle();
                });
                $('#imgContainer').on('click',function(){
                    $('#imageFullScreen').remove();
                    $(this).toggle();
                });

                for(var i = 0,imgsize = $('#personalHome img').size(); i < imgsize; i++){
                    var imgUrl = $('#personalHome img').eq(i).attr('data-src');
                    $('#personalHome img').eq(i).attr('src',imgUrl); 
                }

                //侧边栏缩进
                tabsidebar = function(type){
                    if(type=='show'){
                        if($('#sidebar').css('left') != '0px'){
                            $('#sidebar').animate({
                                left: '0'
                            },350);
                        }
                    }else{
                        if($('#sidebar').css('left') == '0px'){
                            var sidebarW = $('#sidebar').width();
                            $('#sidebar').animate({
                                left: -sidebarW
                            },350);
                        }
                    }
                }
                $('.slide-icon').on('click', function(){
                    var sidebarW = $('#sidebar').width();
                    $('#sidebar').animate({
                        left: -sidebarW
                    },350);
                    var str = 'toggle_menu(true)';
                    krpano.call(str);
                    
                })
                showcomments = function (url,hotimg_name,hotimg_des){
                    <%if(platform.indexOf('pc')==-1){%>
                        $('#imgContainer').append('<img id="imageFullScreen" style="opacity: 0;" />');  
                        if(!$('#imageFullScreen').smartZoom){
                            loadJs("/js/e-smart-zoom-jquery.min.js", function(){

                                $('#imageFullScreen').attr('src',url);
                                $('#imageFullScreen').on('load',function(){
                                    $('#imageFullScreen').smartZoom({'containerClass':'zoomableContainer'});
                                    $('#imageFullScreen').css('opacity', '1');

                                })
                            });
                        }else{
                            
                            $('#imageFullScreen').attr('src',url);
                            
                            $('#imageFullScreen').on('load',function(){
                                $('#imageFullScreen').smartZoom({'containerClass':'zoomableContainer'});
                                $('#imageFullScreen').css('opacity', '1');

                            })
                        }
                        $('#imgContainer .imgname').text(hotimg_name);
                        $('#imgContainer .imgdes').html(hotimg_des);
                        $("#imgContainer").show();
                    <%}else{%>
                        $('.showcomments .hotimg').attr('src',url);
                        $('.showcomments .imgname').text(hotimg_name);
                        $('.showcomments .imgdes').html(hotimg_des);
                        $('.showcomments').slideDown();
                    <%}%>
                }


                // loadJs("/js/idangerous.swiper.min.js", function(){
                    //侧边栏里的滑动 
                    try{
                        // var tabsSwiper = new Swiper('.swiper-container',{
                        //     speed:500,
                        //     onSlideChangeStart: function(swiper){
                        //         var size = $('#sidebar .slidebox').size()-1;
                        //         if(tabsSwiper.activeIndex != size){
                        //             $("#sidebar .tabs a").removeClass('active');
                        //             $("#sidebar .tabs a").eq(tabsSwiper.activeIndex).addClass('active');
                        //         }
                        //     }
                        // });
                        // var mySwiper = new Swiper('.abstractInfo .swiper-container', {
                        //     scrollContainer:true,
                        //     mousewheelControl : true,
                        //     mode:'vertical'
                        // })
                        var swiperH = $('.abstractInfo .swiper-wrapper').height();
                        var swiperscrollH = $('.abstractInfo .swiper-slide').height();
                        if(swiperscrollH>swiperH){
                            $('.abstractInfo .swiper-slide').height(swiperscrollH + 250);
                            $('.abstractInfo .slide-inner').height($('.abstractInfo .swiper-slide').height());
                        }
                        
                        // $(".tabs a").on('touchstart mousedown',function(e){
                        //     e.preventDefault();
                        //     $(".tabs .active").removeClass('active');
                        //     $(this).addClass('active');
                            // tabsSwiper.swipeTo($(this).index());
                        // });

                        // $(".tabs a").click(function(e){
                        //     e.preventDefault();
                        // });
                        $('#sidebar .abstractInfo').height( $('#sidebar').height() - $('#sidebar .logo').height() - $('#sidebar .tabs').height() - $('#sidebar .likeVisit').height() - $('.address').height() - 60 );
                        $('#sidebar .swiper-wrappers').height( $('#sidebar').height() - $('#sidebar .logo').height() - $('#sidebar .tabs').height() - $('#sidebar .likeVisit').height() - 50 );


                        // $('#server_go').on('click touchstart',server_go);
                        // $('#server_back').on('click touchstart',server_back);
                        $('.likeVisit .share').on('click touchstart',sharecode);
                        $('#sidebar .goback').on('click touchstart',gobackshare);

                        // function server_go(e){
                        //     e.preventDefault();
                        //     $('#lists_1').css({'left':'-100%','visibility':'hidden','z-index':-222});
                        //     $('#lists_2').css({'left':5,'visibility':'visible','z-index':222});
                        // }
                        // function server_back(e){
                        //     e.preventDefault();
                        //     $('#lists_1').css({'left':5,'visibility':'visible','z-index':222});
                        //     $('#lists_2').css({'left':'100%','visibility':'hidden','z-index':-222});
                        // }
                        function sharecode(e){
                            var size = $('#sidebar .slidebox').size()-1;
                            e.preventDefault();
                            // tabsSwiper.swipeTo(size);
                        }
                        function gobackshare(e){
                            e.preventDefault();
                            $(".tabs .active").removeClass('active');
                            $('.tabs a').eq(0).addClass('active');
                            // tabsSwiper.swipeTo(0);
                        }

                        function tab(){
                            var index = $(this).index();
                            $(this).siblings().removeClass('active');
                            $(this).addClass('active');
                            // tabSwiper.slideTo(index,500,false);
                        }
                    }catch(e){
                        console.log(e)
                    }
                    
                
                    if(getCookie('liked_'+sortid))
                        $('.addliked img').attr('src','/images/addliked.png');

                    $('.addliked').on('click',function(){
                        if(!getCookie('liked_'+sortid)){
                            $.post('/scene/like/<%=scenekey%>', {}, function(res){
                                if(res.code!=0){
                                    alert(res.msg);
                                    return;
                                }
                                $('.addliked img').attr('src','/images/addliked.png');
                                $('.addliked p').html(parseInt($('.addliked p').html())+1);
                                setCookie('liked_'+sortid, 1);
                            });
                        }else{
                            alert('已经点赞过了');
                        }
                    });
                // });


                <%if(platform.indexOf('pc') == -1){%>
                    if(navigator.userAgent.indexOf("MicroMessenger")!=-1){
                        loadJs("http://res.wx.qq.com/open/js/jweixin-1.0.0.js", function(){
                            $.post('/wechat/jsapi',{url:location.href.split('#')[0]},function(result){
                                // alert(JSON.stringify(result));
                                // alert(location.href.split('#')[0]);
                                var data = {
                                    debug: false,
                                    appId: 'wx4f50446382062f4e',
                                    timestamp: result.timestamp,
                                    nonceStr: result.noncestr,
                                    signature: result.signature,
                                    jsApiList: ['onMenuShareAppMessage', 'onMenuShareTimeline', 'onMenuShareQQ', 'onMenuShareWeibo', 'onMenuShareQZone']
                                };
                                wx.config(data);
                                var config = {
                                    title: '<%=sharetitle%>', // 分享标题
                                    desc: '<%=sharead%>', // 分享描述
                                    link: location.href,
                                    imgUrl:'<%=shareiconKey%>',
                                    success: function () { 
                                       // 用户确认分享后执行的回调函数
                                       // alert(111111)
                                    },
                                    cancel: function () { 
                                       // 用户取消分享后执行的回调函数
                                    }
                                }
                                wx.ready(function(){
                                    wx.onMenuShareTimeline(config);
                                    wx.onMenuShareAppMessage(config);
                                    wx.onMenuShareQQ(config);
                                    wx.onMenuShareWeibo(config);
                                    wx.onMenuShareQZone(config);
                                });
                                wx.error(function(res){
                                    // alert(JSON.stringify(res))
                                });
                            });
                        });
                        if(navigator.userAgent.indexOf("MQQBrowser") == -1){
                            document.addEventListener("WeixinJSBridgeReady", function () { 
                                document.getElementById('audio').play();
                            }, false);
                        }
                    }
                <%}else if(!hideqr){%>
                    if(!isIE8)
                        setTimeout(function(){
                            loadJs("/js/jquery.qrcode.min.js", function(){
                                $('#qrcode').show();
                                var qrwidth = 80;
                                $('#qrcode').qrcode({
                                    render:'canvas',
                                    width: qrwidth,
                                    height: qrwidth,
                                    correctLevel:1,
                                    typeNumber  :-5,
                                    background:'transparent',
                                    text: <%if(isMultipro){%>'http://wx.sz-sti.com/multi/<%=prokey%>'<%}else{%>'http://wx.sz-sti.com/scene/<%=groups[0].id%>'<%}%>
                                }); 
                                $('#qrcode').css('opacity', '1');
                            });
                    }, 500);
                <%}%>

                var _hmt = _hmt || [];
                (function() {
                  var hm = document.createElement("script");
                  hm.src = "https://hm.baidu.com/hm.js?1a5bb52b8de0e925e226370af18e977d";
                  var s = document.getElementsByTagName("script")[0]; 
                  s.parentNode.insertBefore(hm, s);
                })();
            });
        })();
    </script>
</html>
